/* Imported Font */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap');

/* General Settings */

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font: 600 15px Manrope;
    color: var(--text);
}

:root {
    --full-slider: hsl(174, 77%, 80%);
    --slider-bg: hsl(174, 86%, 45%);
    --discount-bg: hsl(14, 92%, 95%);
    --btn-text: hsl(226, 100%, 87%);
    --princing-comp-bg: hsl(100, 0%, 100%);
    --main-bg: hsl(230, 100%, 100%);
    --empty-slider: hsl(224, 65%, 95%);
    --toggle-bg: hsl(223, 50%, 87%);
    --text: hsl(225, 20%, 60%);
    --text-btn-bg: hsl(227, 35%, 25%);
    height: 100%;
}

body {
    background: url(/images/bg-pattern.svg) no-repeat;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

 /* Header */

.header {
    background: url(/images/pattern-circles.svg) no-repeat center;
    height: 25%;
    width: 85%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

.header__title {
    font-size: 1.25rem;
    font-weight: 800;
    color: var(--text-btn-bg);
    padding: 1em 0;
}

.header__subtitle {
    width: 55%;
    font-size: 0.85rem;
}

 /* Main */

.main {
    background-color: var(--main-bg);
    width: 75%;
    margin-bottom: 2em;
    border-radius: 15px;
    box-shadow: 5px 5px 20px rgba(75, 54, 54, 0.15);
}

/* Interactive box */
.interactive, 
.info {
    margin: 2em;
}

/* Views */
.views {
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
    margin: 1em;
}

.views__result,
.views  {
    font-weight: 800;
    font-size: 0.75rem;
}

/* Range slider */
.range-slider__input {
    width: 100%;
    height: 0.55rem;
    margin: 2em 0;
    appearance: none;
}

.range-slider__input::-webkit-slider-runnable-track {
    appearance: none;
    width: 100%;
    height: 0.55rem;
    background-color: var(--empty-slider);
    border-radius: 10px;
    outline: none;
}

.range-slider__input::-webkit-slider-thumb {
    position: relative;
    bottom: 1em;
    appearance: none;
    background: url(/images/icon-slider.svg) var(--slider-bg) no-repeat center;
    border-radius: 50%;
    height: 2.5em;
    width: 2.5em;
    box-shadow: 0px 15px 30px 10px var(--full-slider);
    cursor: pointer;
    z-index: 1;
}

.selector {
    width: 50%;
    height: 0.55em;
    background: var(--full-slider);
    border-radius: 10px;
    position: relative;
    bottom: 39px;
    left: 100px;
}

/* Price */
.price {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

.price__result {
    margin-right: 0.25em;
    font-size: 2rem;
    font-weight: 800;
    color: var(--text-btn-bg);
    color: #434343;
}